
<%- include('partials/header'); -%>

<header>
<!-- <script>
    
    
    const StreamPost = require("../models/StreamPost");

    const streams =  StreamPost.find();
    var subs= document.querySelector(".stream-subs")
    subs.innerHTML = streams

</script>
<p>Subscribed to</p> -->
<!-- <script>
const StreamPost = require("../models/StreamPost");

var subs= document.querySelector(".stream-subs")


</script> -->

<ul class="stream-subs"></ul>

</header>

<%- include('partials/footer'); -%>
