<%- include('partials/header'); -%>

<header>
  <div>
    <img src="/Logo.png" alt="">
  </div>
  <div class="headings">
   
    <h3>World Radio </h3>
    <a href="/radioStations" class="btn">  <button>View Radio Stations</button> </a>





  </div>
</header>


<%- include('partials/footer'); -%>